body {
	background-image: url(../img/background-image.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
}

h1 {
	color: #ffffff;
	text-decoration: underline;
}

.calculator-main-wrapper {
	width: 600px;
	padding-top: 20px;
	margin: 0 auto;
}

.calculator-top {
	padding: 20px 0;
	margin: 0;
}

.form-control:disabled {
	height: 75px;
	font-size: 50px;
	background-color: #1f1f1f; 
	color: #ffffff;
	border: 5px solid #fff;
	text-align: right;
	cursor: default;
}
.calculator-body {
	padding: 0 15px;
}

.reset-row > .c-button {
	background-color: #d00c00; 
} 

.reset-row > .ce-button {
	background-color: #ffffff;
	color: #1f1f1f; 
} 

.btn-default {
	padding: 10px;
	background: #1f1f1f;
	color: #FFFFFF;
	font-size: 40px;
}

